p{
    /* border:1px solid red; */
    width:90%;
    margin:auto;
    /* margin-top: 30px; */
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333
    ;
}

/* @media all and (max-width: 1100px) and (min-width:601px) {
    p{
        border:1px solid red;
        width:50%;
        margin:auto;
        margin-top: 30px;
        font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #333333
        ;
    }
} */

#footer{
    margin-top:105px;
    background-color:rgb(227, 243, 238);
    display: flex;
    /* border:1px solid red */
}
#f-logo{
    width:20%;
    margin-left:15px;
    margin-top:20px;
}
#f-logo>img{
    width:100%;
}

#content{
    width:40%;
    margin-left:15px;
    font-family: arial;
    font-size:15px;

}
#left{
    border-right:solid 1px rgb(100, 98, 98);
    width:60%;
    margin-bottom:25px;
    margin-top:25px;
    margin-left:25px;
}
#right{
    margin-left:45px;
    margin-top:25px;
}
#right a{
    font-family: arial;
    font-size:15px;
    text-decoration: none;
}

@media all and (max-width: 750px) and (min-width:300px) {
   #container{grid-template-columns:repeat(2,1fr);}
   .sub{display:none;}
  }

#navbar{
    position: relative;
}