body{
    font-family: sans-serif;
}


.card{ 
   
    width: 100%;
}
.image{
    display: block;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    
}
p{
    text-align: center;
}
#container{
    display: flex;
    width: 80%;
    margin: auto;
    border: 0px solid red;
    margin-top: 0px;
    padding-top: 10px;
}
#container1{
    
    width: 30%;
    border: 0px solid red;
    margin-top: 20px;
}
#container2{
    margin: auto ;
    width: 70%;
}
.btn{
    
    display: block;
    width: 30%;
     margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    
    /* border: 1px solid red; */
    background-color: rgb(40,116,240);
    font-weight:bold ;
    border-radius: 5px;
    
}
table{
    width: 50%;
    margin: auto;
    margin-top: 30px;
   border: 0px solid red;


}
#table2{
   
    width: 80%;
    border: 0px solid green;
    margin: auto;
    margin-top: 30px;
}
h3{
    text-align: center;
}
.constant{
    text-align: center;
}
.price{
    text-align: center;
}
tbody tr{

    border: 0px solid red;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    gap: 5px;
    padding-bottom: 5px;
    
}


#footer{
    margin-top:105px;
    background-color:rgb(227, 243, 238);
    display: flex;
}
#f-logo{
    width:20%;
    margin-left:15px;
    margin-top:20px;
}
#f-logo>img{
    width:100%;
}

#content{
    width:40%;
    margin-left:15px;
    font-family: arial;
    font-size:15px;

}
#left{
    border-right:solid 1px rgb(100, 98, 98);
    width:60%;
    margin-bottom:25px;
    margin-top:25px;
    margin-left:25px;
}
#right{
    margin-left:45px;
    margin-top:25px;
}
#right a{
    font-family: arial;
    font-size:15px;
    text-decoration: none;
}





