#container{
    width:80%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    border:solid 0px;
    gap:15px;
    position:relative;
    top:85px;
    justify-content: center;
    
}

.card{
    border:none;
    border-radius: 5px;
    padding:10px;
    /* border:solid 1px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card>img{
  margin-left:28px;
}

.bottom{
    display: flex;
    justify-content: space-evenly;
    border-top:solid black 1px;
    align-items: center;
}

.more_details{
   height:25px;
   background-color: white;
   border-radius: 5px;
   border:solid 1px;
   cursor: pointer;
}

.more_details:hover{border:none; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

#type{
  margin:15px;
}

.rating{
    font-size:15px;
}

.sub{
    background-color: rgb(57, 54, 54);
    display:flex;
    justify-content: center;
    color:white;
    height:35px;
    align-items:center;
    font-size:15px;
    margin-bottom:10px;
    position: fixed;
    top:35px;
    width:100%;
    z-index: 2;
    
}
.sub>div{
    border:none;
    padding-left:10px;
    padding-right:10px;
    height:35px;
    display:flex;
    align-items: center;
    cursor: pointer;
}
/* footer */
#footer{
    margin-top:105px;
    background-color:rgb(227, 243, 238);
    display: flex;
}
#f-logo{
    width:20%;
    margin-left:15px;
    margin-top:20px;
}
#f-logo>img{
    width:100%;
}

#content{
    width:40%;
    margin-left:15px;
    font-family: arial;
    font-size:15px;

}
#left{
    border-right:solid 1px rgb(100, 98, 98);
    width:60%;
    margin-bottom:25px;
    margin-top:25px;
    margin-left:25px;
}
#right{
    margin-left:45px;
    margin-top:25px;
}
#right a{
    font-family: arial;
    font-size:15px;
    text-decoration: none;
}

@media all and (max-width: 750px) and (min-width:300px) {
   #container{grid-template-columns:repeat(2,1fr);}
   .sub{display:none;}
  }

